    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="lead">
              <br/><br/>
              <h2>About TORACLE</h2>
              <br/>
                <p>The 1st International Workshop on Test Oracles (TORACLE) brings together researchers and practitioners working on the topics related to the alleviation of the oracle problem. The workshop will enable the participants to present ideas, discuss recent results and develop a shared agenda for future research. 
                 </p> 
                <p> 
                TORACLE is a one-day workshop, which will consist of two sessions followed by a discussion panel. Each session will include a keynote and presentations of accepted papers.
                </p>  
                <br>
                <b>IMPORTANT DATES</b>
                <br>
                Abstract Submission Deadline: TBA
                <br>
                Paper Submission Deadline: TBA
                <br>
                Notification: TBA
                <br>
                Camera ready: TBA
                <br>
                Workshop:  TBA
                <br>
                
                <br/>
              </div>
        </div>
    </section>
