    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="lead">
              <br/><br/>
              <h2>About TORACLE</h2>
              <br/>
                <p>
            
                    <b>TORACLE 2021</b> is the 1st International Workshop on Test Oracles, co-located with <a href="https://2021.esec-fse.org/">ESEC/FSE 2021:</a>  The ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering
       <br/>
             <br/>          
                    The challenge of distinguishing correct from incorrect test executions is called the <b>(test) oracle problem</b> and it is recognised as one of the fundamental challenges in software testing. For the first time TORACLE 2021 will bring together researchers and practitioners working on the techniques, approaches and tools related to the alleviation and automation of the oracle problem. The workshop will enable the participants to present ideas, discuss recent results and develop a shared agenda for future research.
                 </p> 
                <p> 
                TORACLE is a one-day workshop, which will consist of two sessions followed by a discussion panel. 
                </p>  
                <br>
                <b>IMPORTANT DATES</b>
                <br>
                <br>
                <table style="width:100%">
  <tr>
    <td>Paper submission deadline:</td>
    <td>June 1, 2021</td>
  </tr>
  <tr>
    <td>Notification: </td>
    <td>July 1, 2021 </td>
  </tr>
  <tr>
    <td>Workshop</td>
    <td>TBA (before ESEC/FSE 2021)</td>
  </tr>
</table>
                
            

              </div>
        </div>
    </section>
